/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d5a9a8;
}

img {
    width: 100%;
}

.navegacion {
    background-color: #2A5657;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.navegacion > a {
    color: white;
    text-decoration: none;
}

.foto {
    max-width: 400px;
    border-radius: 200px;
    border: 5px black solid;
}

.about {
    display: flex;
    align-items: center;
    margin: 50px;
    gap: 100px;
    background-color: #d5a9a8;
    color: white;
}

.yo {
    display: flex;
    flex-direction: column;
}

.yo > h1 {
    font-size: 3rem;
}

.yo > p {
    font-size: 2rem;
}

.proyects {
    background-color: #2A5657;
    color: white;
}

.proyects > h2 {
    font-size: 50px;
    text-align: center;
}

.apps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apps > div > img {
    border-radius: 1rem;
    border: 3px solid black;
}

.apps > div > h3 {
    font-size: 30px;
}

.apps > div > p {
    font-size: 17px;
}

.shei {
    max-width: 500px;
    margin: 1rem;
}

.rick {
    max-width: 500px;
    margin: 1rem;
}

.clima {
    max-width: 500px;
    margin: 1rem;
}

.experience {
    background-color: #d5a9a8;
    color: white;
}

.experience > h1 {
    margin: 70px;
    text-align: center;
}

.exper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
}

.sub__exper {
    text-align: center;
}

.sub__exper > ul {
    display: flex;
}

.sub__exper > h4 {
    margin: 20px;
    text-align: center;
    font-size: 2rem;
}

.academlo {
    max-width: 400px;
    border: 5px solid black;
}

.udemy {
    max-width: 400px;
    max-height: 300px;
    border: 5px solid black;
}

.mimo {
    max-width: 250px;
    max-height: 350px;
    border: 5px solid black;
}

.contact {
    border-radius: 2rem;
    padding: 20px;
    margin: 20px;
    background-color: #2A5657;
    height: 300px;
    color: white;
    width: 100%;
}

.contact > h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}

.contactos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imageness {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.correo {
    width: 150px;
    cursor: pointer;
    margin-left: 20px;
}

.phone {
    height: 90px;
    width: 70px;
    cursor: pointer;
    margin-left: 30px;
}

.linkedin {
    margin-right: 50px;
    width: 100px;
    cursor: pointer;
}

.nombre {
    text-decoration: none;
    color: white;
}

.casa {
    width: 110px;
    cursor: pointer;
    margin-right: 40px;
}


@media (max-width: 568px) {

    * {
        outline: 1px solid red;
        
        /* Temporariamente para ver los contornos de todos los elementos */

    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
    }
    
    .navegacion {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .navegacion > a {
        font-size: 1rem;
    }

    .foto {
        max-width: 200px;
        border-radius: 125px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        margin: 20px; /* Reducir el margen */
        gap: 20px;
        background-color: #d5a9a8;
        color: white;
        overflow: hidden; /* Esto evitará que el contenido se desborde */
    }

    .yo > h1 {
        font-size: 2rem;
    }

    .yo > p {
        font-size: 1.2rem;
    }
    
    .imageness{
        padding: 0;
        margin: 0;
        height: 100px;
        width: 100px;
    }
    .proyects,
    .experience,
    .contact {
        padding: 20px;
        /* Añadir espacio interno */
    }

    .exper > div {
        margin-bottom: 10px;
        /* Reducir el espacio entre los bloques */
    }

    .sub__exper {
        padding: ;
    }

    .sub__exper p {
        font-size: 20px;
        /* Reducir el tamaño del texto */
    }

    .contact {
        border-radius: 2rem;
        background-color: #2A5657;
        color: white;
        
    }
    
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        
    }
    
    .contactos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        min-width: 100px;
        font-size: 24px;
    }
    
    .imageness {
        
        display: none;
    }
    
    /* Ajustes para las imágenes */
    .correo,
    .phone,
    .linkedin,
    .casa {
        
        height: auto; /* Para que el tamaño se ajuste proporcionalmente */
        cursor: pointer;
    }
    
}
